<ul>
    <li>
        <label>User</label>
        <input id="email">
    </li>
    <li>
        <label>User</label>
        <input id="password">
    </li>
    <li>
        <button>Sign In</button>
        <input type="hidden" name="_csrf" value="{{ csrfToken}}">
    </li>
</ul>